@charset "UTF-8";

:root {
    --main-color: #00FFF5;
    --black-color: #000;
    --white-color: #fff;
}

/*--------------------------------
 全体
---------------------------------*/
body {
    font-family: 'Exo', 'Noto Sans JP', Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
    font-size: 16px;
}
img {
    max-width: 100%;
    height: auto;
}

/*--------------------------------
 レイアウト
---------------------------------*/
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}
.content {
    display: grid;
    padding: 60px 0 100px;
    row-gap: 80px;
}

/*--------------------------------
 ボタン
---------------------------------*/
.btn {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    text-align: center;
    width: 230px;
    padding: 20px 0;
    background-color: var(--main-color);
    color: var(--black-color);
    transition: all .3s;
}
.btn:hover {
    box-shadow: 0 0 15px 5px rgb(0 255 245 / 50%);
}

/*--------------------------------
 見出し
---------------------------------*/
.section-heading {
    position: relative;
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--main-color);
    margin-bottom: 70px;
    text-transform: uppercase;
}
.section-heading::after {
    position: absolute;
    display: block;
    content: "";
    width: 80px;
    height: 8px;
    background-color: var(--main-color);
    left: 0;
    bottom: -30px;
}
.section-heading--reverse {
    color: var(--black-color);
}
.section-heading--reverse::after {
    background-color: var(--black-color);
}


/*--------------------------------
 ローディングアニメーション
---------------------------------*/
.loading {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--black-color);
}
.loading-animation {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.atom-spinner, .atom-spinner * {
    box-sizing: border-box;
}
.atom-spinner {
    height: 60px;
    width: 60px;
    overflow: hidden;
}
.atom-spinner .spinner-inner {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}
.atom-spinner .spinner-circle {
    display: block;
    position: absolute;
    color: var(--main-color);
    font-size: calc(60px * 0.24);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.atom-spinner .spinner-line {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation-duration: 1s;
    border-left-width: calc(60px / 25);
    border-top-width: calc(60px / 25);
    border-left-color: var(--main-color);
    border-left-style: solid;
    border-top-style: solid;
    border-top-color: transparent;
}
.atom-spinner .spinner-line:nth-child(1) {
    animation: atom-spinner-animation-1 1s linear infinite;
    transform: rotateZ(120deg) rotateX(66deg) rotateZ(0deg);
}
.atom-spinner .spinner-line:nth-child(2) {
    animation: atom-spinner-animation-2 1s linear infinite;
    transform: rotateZ(240deg) rotateX(66deg) rotateZ(0deg);
}

.atom-spinner .spinner-line:nth-child(3) {
    animation: atom-spinner-animation-3 1s linear infinite;
    transform: rotateZ(360deg) rotateX(66deg) rotateZ(0deg);
}

@keyframes atom-spinner-animation-1 {
    100% {
        transform: rotateZ(120deg) rotateX(66deg) rotateZ(360deg);
    }
}
@keyframes atom-spinner-animation-2 {
    100% {
        transform: rotateZ(240deg) rotateX(66deg) rotateZ(360deg);
    }
}
@keyframes atom-spinner-animation-3 {
    100% {
        transform: rotateZ(360deg) rotateX(66deg) rotateZ(360deg);
    }
}

/*--------------------------------
 背景動画パララックス
---------------------------------*/
.bgParallax {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
}
.bgParallax::before {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        45deg,
        rgb(0 0 0 / 20%) 50%,
        rgb(0 0 0 / 50%) 50%
    );
    background-size: 5px 5px;
}
.bgParallax-video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/*--------------------------------
 ヘッダー
---------------------------------*/
.header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: linear-gradient(
        180deg,
        rgb(0 0 0 / 100%) 0%,
        rgb(0 0 0 / 0%) 100%
    );
    padding: 0 30px;
    z-index: 10;
}
.header__logo {
    width: 172px;
}

/*--------------------------------
 グローバルナビ
---------------------------------*/
.gnav-list {
    display: flex;
    align-items: center;
    gap: 30px;
    color: var(--main-color);
}
.gnav-item {
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.1em;
}
.gnav-cta .btn {
    font-size: 15px;
    width: 164px;
    padding: 15px 0;
}
.gnav-audio {
    position: absolute;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    color: #bfbfbf;
    right: 30px;
    bottom: -10px;
    cursor: pointer;
}
.audioSwich.on {
    color: var(--white-color);
}
.gnav-audio__icon {
    font-size: 18px;
    vertical-align: bottom;
}

/*--------------------------------
 メインビジュアル
---------------------------------*/
.mv {
    position: relative;
    height: 100%;
}
.mv::after {
    display: block;
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background-image: url(./assets/images/bg-line-bottom-black.svg);
    width: 430px;
    height: 40px;
}
.mv__titleArea {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}
.mv_label {
    font-size: 32px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.2em;
    color: var(--white-color);
    margin-bottom: 30px;
}
.mv-title {
    font-size: min(20vw, 140px);
    font-weight: 600;
    line-height: .9;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 10px;
}
.mv-subtitle {
    font-size: 34px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1em;
    color: var(--white-color);
    margin-bottom: 50px;
}
.mv__newsArea {
    position: absolute;
    right: 30px;
    bottom: 50px;
}
.mv-newsbox {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 360px;
    height: 30px;
    border: 1px solid var(--main-color);
    background-color: var(--black-color);
}
.mv-newsbox-content {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
    padding: 0 50px 0 360px;
    animation-name: mvNewsboxScroll;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes mvNewsboxScroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.mv-news-date {
    color: var(--white-color);
    margin-right: 20px;
}
.mv-news-title {
    color: var(--main-color);
}
.mv__scrolldown {
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.mv__scrolldown::before {
    position: absolute;
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
    left: -4px;
    bottom: 0;
    animation: circlemove 1.5s ease-in-out infinite,
    circlehide 1.5s ease-out infinite;
}
@keyframes  circlemove{
    0% {
        transform: translateY(-45px);
    }
    100% {
        transform: translateY(5px);
    }
}
@keyframes circlehide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: .9;
    }
    100% {
        opacity: 0;
    }
}
.mv__scrolldown::after {
    position: absolute;
    display: block;
    content: "";
    width: 2px;
    height: 50px;
    background-color: var(--main-color);
    left: 0;
    bottom: 0;
}
.mv__scrolldown-text {
    position: absolute;
    display: block;
    left: 10px;
    bottom: 8px;
    writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    font-size: 13px;
    color: var(--main-color);
}

/*--------------------------------
 story
---------------------------------*/
.story {
    background-image: url(./assets/images/bg_story.webp);
    background-size: cover;
    background-position: center;
    padding: 140px 0;
}
.story-list {
    display: grid;
    gap: 90px;
    margin-top: -150px;
}
.story-item {
    display: flex;
    align-items: center;
    gap: 80px;
}
.story-item:nth-child(even) {
    flex-direction: row-reverse;
}
.story-title {
    font-size: 32px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 30px;
}
.story-text {
    line-height: 1.8;
    letter-spacing: 0.05em;
    color: var(--white-color);
}
.story-desc {
    flex: 0 1 50%;
}
.story-desc-first {
    padding-top: 150px;
}
.story-img-wrap {
    position: relative;
    flex: 1;
    max-width: 437px;
    transform: skew(-5deg);
    box-shadow: 6px 7px var(--main-color);
}
.story-item:nth-child(even) .story-img-wrap {
    transform: skew(5deg);
}

/*--------------------------------
 cta
---------------------------------*/
.cta {
    position: relative;
    padding: 100px 0;
    text-align: center;
}
.cta::before {
    position: absolute;
    display: block;
    content: "";
    width: 430px;
    height: 40px;
    background-image: url(./assets/images/bg-line-top-black.svg);
    top: 0;
    left: 0;
}
.cta::after {
    position: absolute;
    display: block;
    content: "";
    width: 430px;
    height: 40px;
    background-image: url(./assets/images/bg-line-bottom-color.svg);
    right: 0;
    bottom: 0;
}
.cta--reverse::before {
    background-image: url(./assets/images/bg-line-top-color.svg);
}
.cta--reverse::after {
    background-image: url(./assets/images/bg-line-bottom-black.svg);
}
.cta-title {
    font-size: 64px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--white-color);
    margin-bottom: 25px;
}

/*--------------------------------
 trailer
---------------------------------*/
.trailer {
    background-color: var(--main-color);
    padding: 110px 0;
}
.trailer-video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
}
.trailer-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/*--------------------------------
 footer
---------------------------------*/
.footer {
    background-color: var(--black-color);
    padding: 40px 0;
}
.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.snsShare-list {
    display: flex;
    align-items: center;
    gap: 20px;
}
.fb-like iframe {
    width: 120px;
    height: 20px;
}
.line iframe {
    width: 26px;
    height: 26px;
}
.copyright {
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.05em;
    color: var(--white-color);
}
.footer__btn {
    display: none;
}


/*media Queries 767px以下 スマートフォン用
----------------------------------------------------*/
@media screen and (max-width: 767px) {

    /* レイアウト */
    .container {
        padding: 0 20px;
    }
    .content {
        padding: 60px 0 100px;
        row-gap: 80px;
    }

    /* ボタン */
    .footer__btn .btn {
        width: 100%;
    }

    /* 見出し */
    .section-heading {
        font-size: 50px;
        margin-bottom: 45px;
    }
    .section-heading::after {
        width: 60px;
        height: 6px;
        bottom: -15px;
    }

    /* ヘッダー */
    .header {
        height: 60px;
        padding: 0 20px;
    }
    .header__logo {
        width: 120px;
    }

    /* グローバルナビ */
    .gnav-list {
        gap: 20px;
    }
    .gnav-item {
        font-size: 13px;
    }
    .gnav-cta  {
        display: none;
    }
    .gnav-audio {
        right: 20px;
        bottom: -10px;
    }
    .gnav-audio__icon {
        font-size: 18px;
    }
    
    /* メインビジュアル */
    .mv::after {
        width: 200px;
        height: 30px;
    }
    .mv_label {
        font-size: 22px;
        margin-bottom: 20px;
    }
    /* .mv-title {
        font-size: 76px;
    } */
    .mv-subtitle {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .mv__newsArea {
        right: 20px;
    }
    .mv-newsbox {
        width: 200px;
        height: 27px;
    }
    .mv-newsbox-content {
        font-size: 12px;
        padding: 0 50px 0 200px;
    }
    .mv-news-date {
        margin-right: 10px;
    }

    /* story */
    .story {
        padding: 50px 0;
    }
    .story-list {
        gap: 55px;
        margin-top: 0;
    }
    .story-item {
        flex-direction: column;
        gap: 30px;
    }
    .story-item:nth-child(even) {
        flex-direction: column;
    }
    .story-title {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .story-text {
        font-size: 15px;
    }
    .story-desc {
        flex: 0 1 50%;
    }
    .story-desc-first {
        padding-top: 0;
    }
    .story-img-wrap {
        flex: 1;
        width: 85%;
    }

    /* cta */
    .cta {
        padding: 70px 0;
    }
    .cta::before {
        background-position: 100% 0;
        width: 200px;
        height: 30px;
    }
    .cta::after {
        width: 200px;
        height: 30px;
    }
    .cta-title {
        font-size: 32px;
        margin-bottom: 20px;
    }

    /* trailer */
    .trailer {
        padding: 50px 0;
    }

    /* footer */
    .footer {
        padding: 40px 0 20px;
    }
    .footer-inner {
        flex-direction: column;
        gap: 30px;
    }
    .snsShare-list {
        gap: 15px;
    }
    .copyright {
        font-size: 11px;
        margin-bottom: 45px;
    }
    .footer__btn {
        display: block;
        width: 100%;
    }
}